[submodule "vendor/mark-multiple"]
	path = vendor/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "vendor/php-mode"]
	path = vendor/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "vendor/yasnippet-php-mode"]
	path = vendor/yasnippet-php-mode
	url = https://github.com/nishimura/minimal-yasnippet-php-mode.git
[submodule "vendor/jshint-mode"]
	path = vendor/jshint-mode
	url = git://github.com/daleharvey/jshint-mode.git
